#header{
    background-color: #87509c;
    width: 1200px;
    height: 596px;
    padding:0;
    
}
body{
    padding: 0;
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    width:1200px;
}
#logo{
    width: 100px;
    padding-top:25px;
    padding-left:-30px;
}
#imagen{
    width:100px;
    padding-top:25px;
    padding-left:250px;
}
.clearfix::after{
    content: "";
    clear: both;
    display: table;
}
.wrapper{
    margin: 0 auto;
    width: 1200px;
    height: 1447px;
}
#list{
    list-style: none;
    text-decoration: none;
    float: right;
    margin-right: 40px;
    padding: 0;
}
#list li{
    float: right;
    text-decoration: none;
    list-style: none;
    margin-left:40px;
    margin-top:-17px;
}
#list li + li{
    text-decoration: none;
    list-style: none;
    margin-left: -15px;
    width: 150px;
}
#list li a{
    font-size: 15px;
    font-weight:bolder;
    color:#FFFFFF;
    text-decoration: none;
    list-style: none;
    text-transform: uppercase;
    margin-left: 40px;
    margin-right: 40px;
}
#title{
    text-align: center;
    color:#ebbcbc; 
    padding:0px;
    margin:0;
    width: 1200px;
    height: 147px;
    margin-top:120px;
}
#boton{
    margin: 20px 500px ;
    padding: 15px;
    text-align: center;
    color:#FFFFFF;
    background-color: #eb7d4b;
} 
#boton:hover{
    background-color: #b9b9b9;
    border: 1px  #b9b9b9;
}
#mainContent{
    background-color:#17c2a4;
    padding:0;
    margin: 0;
    width: 1200px;
    height: 950px;
}
#footer{
    background-color: #344b8e;
    width: 1200px;
    height: 20px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}
#title-main{
    text-align: center;
    float: center;
    color: #FFFFFF;
    padding:0;
    margin:0;
    font-weight: bold;
    padding-top: 40px;
}
#reason{
    text-align: center;
    color:#FFFFFF;
    padding:0;
    margin:0;
    font-size:30px;
    margin-top: 80px;
}
.txt{
    color:#FFFFFF;
    float:left;
    width: 300px;
    margin:60px;
    padding-right: 40px;
    text-align: center;
    margin-top: 100px
}
.txt + .txt{
    margin-left: -180px;
}
h1{
    color:#FFFFFF;
    text-align: center;
}
h2{
    padding: 0;
    margin: 0;
    text-align: center;
    color:#FFFFFF;
    font-size: 20pt;
}
h6{
    text-align: center;
    color: #FFFFFF;
}
#list-footer{
    padding: 0px;
    margin: 0px;
    text-align: center;
    text-decoration: none;
    /* display: inline; */
}
#list-footer li{
    color:#FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    display: inline;
}
#list-footer li + li{
    margin-left: 30px;
}
#list-footer li a{
    color:#FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
}
#list-footer li a #blue{
    color:#30bae7;
}

